.home {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 226, 205);
    text-align: center;
    cursor: pointer;
    width: 95%;
    height: 40px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 0 auto;
}

.home:hover{
    background-color: rgb(228, 204, 175);
}