.main-content {
    display: flex;
    box-sizing: border-box;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    width: 15%;
    text-align: center;
    border-right: 1px solid grey;
}

.center-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    text-align: center;
    border-right: 1px solid grey;
}

.discover-container {
    width: 25%;
    text-align: center;
    height: 100vh;
}

.box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100px;
    margin-left: 20px;
    margin-right: 20px;
    border: 3px solid black;
}

