.profile-content {
    display: flex;
    box-sizing: border-box;
    height: 100vh;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    width: 244px;
    text-align: center;
    border-right: 1px solid grey;
}

.user-profile-edit-profile-container {
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
    height: 2%;
}

.user-profile-edit-profile-button {
    font-weight: 570;
    background-color: rgb(241, 226, 205);
    cursor: pointer;
    height: 30px;
    width: 130px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 10px;
    transition: background-color 0.2s ease;
}

.user-profile-edit-profile-button:hover {
    background-color: rgb(228, 204, 175);
}

.user-profile-top-content {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 25%;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 30px;
}

.user-profile-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.profile-picture-container-user-profile {
    width: 200px;
    height: 200px;
    margin: 60px;
}

.user-profile-picture {
    width: 100%;
    height: auto;
    border: 2px solid black;
    border-radius: 50%;
}

.user-profile-info-container {
    font-weight: 650;
}

.user-profile-name-container {
    margin-bottom: 5px;
    font-size: 25px;
}

.user-profile-username-container {
    font-size: 22px;
}

.user-profile-links-number {
    margin-top: 10px;
    margin-bottom: 10px;
}

.user-profile-bio {
    height: 80px;
    width: 600px;
}

.user-profile-courses-info-container {
    width: 100%;
}

.user-profile-bottom-content {
    height: 60%;
    border: 2px dotted blue;
}

.user-profile-bio {
    line-height: 1.2;
    font-weight: 550;
}
