.main-content {
    display: flex;
    box-sizing: border-box;
    height: 100vh;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-right: 1px solid grey;
}

.center-scroll-area {
    display: flex;
    flex-wrap: wrap;      
    overflow-y: auto;
    height: 100vh;
    width: 100%;
    align-content: flex-start;  
    gap: 20px;
    justify-content: center;        
  }
  

.center-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
    border-right: 1px solid grey;
    flex: 1;
  }

.discover-container {
    width: 25%;
    text-align: center;
    height: 100vh;
}

.event-placeholder {
    border: 2px solid black;
    margin: 20px;
    height: 300px;
    width: 300px;
}

.discover-container {
    overflow-y: auto;
}
